/* -- SEC_GENERAL --*/

h1, h2, h3, h4, h5, h6, p, input, textarea, label {
  font-family:'Source Sans Pro', sans-serif;
  color:rgba(0,0,0,0.7);
  margin:0;
}

ul, body, html {
  padding:0;
  margin:0;
}

body {
  background-color:#FBFBFB;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color:inherit;
}

main {
  padding-top:56px;
}

.hide {
  display: none;
}

.fixed {
  position: fixed !important;
}

.profileImg {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

/* -- SEC_COLOR --*/

$color1:#24B3A7;

.color__primary {
  color:$color1;
}

.type__secondary {
  color:rgba(0,0,0,0.5);
}

/* -- SEC_TYPOGRAPHY --*/

.display {
  font-size:72px;
  font-weight:400;
}

.header {
  font-size:36px;
  font-weight:600;
  font-family: 'Montserrat', sans-serif;
}

.subheader {
  font-size:24px;
  font-weight:400;
}

.body {
  font-size:16px;
  font-weight:400;
  line-height: 1.6;
}

.body__serif {
  font-size:20px;
  font-weight: 400;
  line-height: 1.6;
  font-family: 'Droid Serif', sans-serif;
}

.header__serif {
  font-size:24px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.recommended__header {
  font-size:16px;
  font-weight: 600;
  display: block;
}

.recommended__body {
  font-size:14px;
  font-weight: 400;
}

.nav-mobile-text {
  font-size:12px;
  font-weight: 400;
  display: none;
}

.caption {
  font-size:14px;
  font-weight: 600;
}

.nav-action__link {
  font-weight: 600;
}

.link {
  color:$color1;
}

.type__logoSubline {
  font-size:18px;
  font-weight: 400;
}

/* -- SEC_BUTTONS --*/

.button__inactive {
  font-size: 16px;
  font-weight: 600;
  border: 2px solid $color1;
  color: $color1;
  background: transparent;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.button__inactive:hover {
  cursor: pointer;
  background:rgba(0,0,0,0.05);
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.button__inactive:focus {
  outline:none;
  background:rgba(0,0,0,0.1);
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.button__inactive:active {
  outline:none;
  background:rgba(0,0,0,0.2);
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.button__active {

}

.button__progress {

}

.button-container__fullWidth {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:15px 0;
}

/* -- SEC_NAVIGATION --*/

.nav {
  height:56px;
  color:white;
  background:$color1;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* -- The various UI nav changes will go here -- */
.view__profile .nav {
  box-shadow: none;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 950px;
  margin: auto;
  height: 100%;
  position: relative;
}

.nav-mobile {
  display:none;
}

.nav-logo {
  position: absolute;
  left: -115px;
  top: 50%;
  width: 10%;
  z-index: 4;
  transform: translateY(-50%);
  margin-top:-2px;
}

.nav-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

.nav-search__icon {
  position: absolute;
  left:16px;
  fill:rgba(255,255,255,0.6);
}

.nav-search__input {
  border: none;
  padding: 8px 16px 8px 56px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  border-radius: 5px;
  background: rgba(255,255,255,0.15);
  color: white;
}

.nav-search__input:focus {
  outline:none;
  background:rgba(255,255,255,0.3);
}

.nav-search__input::-webkit-input-placeholder {
  color:rgba(255,255,255,0.8);
}

.nav-action__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.nav-action {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}

.nav-action__container .nav-action:first-child {
  padding-left:0;
  border-right:2px solid rgba(255,255,255,0.6);
}

.nav-action__container .nav-action:last-child {
  padding-right:0;
  border-left:2px solid rgba(255,255,255,0.6);
}

.nav-action__icon {
  fill:white;
  margin:0 8px;
}

.nav-action .nav-action__icon:first-child {
  margin-left:0;
}

.nav-action .nav-action__icon:last-child {
  margin-right:0;
}

.nav-action__signin {
  display: none;
}

.nav-action__signin:hover {
  cursor: pointer;
}

.signedOut .nav-action__image {
  display: none;
}

.signedOut .nav-action__signin {
  display: block;
}

.nav-search .nav-action__signin {
  display: none;
  width: 150px;
  text-align: center;
}

/* -- SEC_SECTION --*/

.section {
  max-width: 950px;
  min-height: 110vh;
  margin: 30px auto;
  display: none;
}

.section__active {
  display: flex;
}

.section-columnContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.section-leftColumn {
  width: 100%;
  max-width: 600px;
  margin-right:50px;
  position: relative;
}

.section-rightColumn {
  width: 100%;
  max-width: 300px;
  position: relative;
}

/* -- SEC_FEED --*/

.feed-quickpost {
  padding-bottom:10px;
}

.feed-quickpost-input {
  margin:30px 0 20px 0;
}

.feed-quickpost-input-post {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.feed-quickpost-input-post__img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  margin-right: 16px;
}

.feed-quickpost-input-post__editable {
  width: 100%;
  max-width: 450px;
  padding: 10px 16px;
  background: white;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  min-height: 80px;
}

.feed-quickpost-input-post__editable:focus {
  outline:none;
}

.feed-quickpost-input-post__editable p {
  min-height:25px;
}

.feed-quickpost-input-post__send {
  margin-left: 16px;
  fill:$color1;
}

.feed-quickpost-input-post__send:hover {
  cursor: pointer;
}

.feed-quickpost-input-icons {
  margin:16px 0px 16px 52px;
}

.feed-quickpost-input-post__placeholder {
  position: absolute;
  left: 68px;
  top: 10px;
  opacity: 0.4;
  pointer-events: none;
}

.feed-quickpost-input-icons svg {
  margin-right:8px;
}

/* -- SEC_RECOMMENDED_CREATORS --*/

.recommended-creators, .recommended-projects {
  margin-bottom:40px;
}

.recommended-creators-division {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin:20px 0px;
}

.notFollowing .recommended-creators-division__follow .recommended__body {
  color:rgba(0,0,0,0.5);
}

.following .recommended-creators-division__follow .recommended__body {
  color:$color1;
}

.recommended-creators-division__follow .recommended__body:hover {
  cursor: pointer;
}

.recommended-creators-division__img img {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 100%;
}

.recommended-creators-division__text {
  width:100%;
}

/* -- SEC_RECOMMENDED_PROJECTS --*/

.recommended-projects-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.recommended-projects-author__img img {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 100%;
}

.recommended-projects-author__text {
  width:100%;
}

.notFollowing .recommended-projects-author__follow .recommended__body {
  color:rgba(0,0,0,0.5);
}

.following .recommended-projects-author__follow .recommended__body {
  color:$color1;
}

.recommended-projects-author__follow .recommended__body:hover {
  cursor: pointer;
}

.recommended-projects-content img {
  width: 100%;
  margin: 10px 0;
}

.recommended-projects-title__header {
  font-size:16px;
}

.recommended-projects-title__body {
  font-size:14px;
}

.recommended-projects-division {
  margin:20px 0px;
}

/* -- SEC_POST --*/

.post__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-author__img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 16px;
}

.post-cover__img {
  width: 100%;
  margin: 40px 0px;
  box-shadow:0px 1px 2px rgba(0,0,0,0.1);
}

.post-content-main__title, .post-content-main__header, .post-content-main__subheader {
  margin-bottom:10px;
}

.post-content-main__body {
  margin:20px 0px;
}

.post-content-main__italic {
  font-style: italic;
  padding-left: 40px;
  border-left: 3px solid;
}

.post-content-main__img {
  width: 100%;
  margin:40px 0px;
  box-shadow:0px 1px 2px rgba(0,0,0,0.1);
}

.post-content-main__imgLarge {
  width:140%;
  transform:translateX(-30%);
}

.post-content-aside__division {
  padding:20px 0px;
  border-bottom:1px solid rgba(0,0,0,0.1);
}

.post-content-aside__division:first-child {
  padding-top:0;
}

.post-content-aside__division:last-child {
  border-bottom:0;
  padding-bottom:0;
}

.post-content-aside-likes {
  display: flex;
  justify-content: space-between;
}

.post-content-aside-likes-container {
  display: flex;
}

.post-content-aside-likes-container svg {
  margin-right:8px;
}

.post-content-aside-more-tileContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 20px;
  justify-content: space-between;
}

.post-content-aside-more-tile {
  width: 49%;
  height: 100px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.post-content-aside-tags-tagContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.post-content-aside-tags-tag {
  color:$color1;
  border:2px solid;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 10px;
  margin:5px;
  border-radius: 5px;
  width: 20%;
  text-align: center;
  opacity: 0.6;
}

.post-content-aside-tags-tag:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

/* -- SEC_PROFILE --*/

.profile__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.profile-top {
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-top: 10px;
}

.profile-top__bkg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: #24b3a7;
  z-index: -1;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

.profile-top-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-top-images-icons {
  width: 50px;
  border-radius: 100%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

.profile-top-images-picture {
  width: 100px;
  height: 100px;
  margin: 0px 10px;
  border-radius: 100%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

.profile-top-text .header {
  margin-top: 10px;
  font-size: 48px;
}

.profile-top-text .subheader {
  margin-top:20px;
}

.profile-main-tabs {
  display: flex;
  margin: 70px 0 40px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.profile-main-tabs__item {
  font-size: 18px;
  font-weight: 600;
  margin: 0 10px;
  margin-bottom:1px;
  color: rgba(0,0,0,0.2);
  padding: 20px 0;
}

.profile-main-tabs__item:first-child {
  margin-left:0;
}

.profile-main-tabs__item:last-child {
  margin-right:0;
}

.profile-main-tabs__active {
  color:$color1;
  margin-bottom:-1px;
  border-bottom:2px solid;
}

/* -- SEC_NEW_POST --*/

.newPost__wrapper {
  margin-top:20px;
}

.newPost__headerPlaceholder, .newPost__bodyPlaceholder {
  position: absolute;
  pointer-events: none;
  opacity: 0.4;
  margin:10px 0px;
}

.newPost__header .header {
  min-height: 44px;
}

.newPost__input {
  margin:10px 0px;
}

.newPost__input:focus {
  outline: none;
}

.newPost__body .body__serif {
  min-height: 32px;
  margin: 20px 0;
}

.newPost-rightColumn__section {
  display: flex;
  align-items: center;
  padding:10px 0px;
}

.newPost-rightColumn__section:first-child {
  padding-top:0;
}

.newPost-rightColumn__section:last-child {
  padding-bottom:0;
}

.newPost-project__text {
  font-size:16px;
  font-weight: 600;
  margin:0px 16px 0 8px;
}

.newPost-preview__text {
  font-size: 16px;
  font-weight: 600;
  margin-left:8px;
}

.newPost-tags__text {
  font-size: 16px;
  font-weight: 600;
  margin-left:8px;
}

.newPost-tags:focus {
  outline:none;
}

.newPost-editor {
  fill:rgba(0,0,0,0.7);
}

.newPost-editor svg {
  margin:0px 5px;
}

.newPost-editor svg:first-child {
  margin-left:0;
}

.newPost-editor svg:last-child {
  margin-right:0;
}

/* -- SEC_CARD --*/

.card {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  margin:10px 0;
}

.card-reason {
  padding:16px 16px 8px 16px;
}

.card-author {
  display: flex;
  align-items: center;
  padding: 0 16px 16px 16px;
}

.card-author-img {
  margin-right:16px;
}

.card-author-text {
  width:100%;
}

.card-author-bookmark {
  margin-left:16px;
}

.card-content__img {
  width:100%;
}

.card-text {
  padding:16px;
}

.card-text .subheader {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top:5px;
}

.card-action {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.card-action-likes {
  display:flex;
}

.card-action-likes svg {
  margin-right:8px
}

/* -- SEC_MODAL --*/

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: none;
}

.modal__fired .modal__container {
  display: flex;
}

.modal-bkg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal {
  width: 100%;
  margin: auto;
  max-width: 500px;
  display: none;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.1);
}

.modal__fired .modal__active {
  display: block;
  transform:translateY(10px);
  animation: modalEnter 0.4s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes modalEnter {
  to {
    transform: translateX(0);
  }
}

.modal-signin-top {
  width: 100%;
  text-align: center;
  background: $color1;
  padding:30px 0px;
}

.modal-signin-top svg {
  width: 200px;
}

.modal-signin-top .body {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.modal-signin-top .subheader {
  color:white;
  font-weight: 600;
}

.modal-signin-bottom {
  width: 100%;
  padding: 24px;
  background: #fbfbfb;
  box-sizing: border-box;
}

.modal-signin-bottom__body {
  font-size:18px;
  padding:10px 0px 20px 0;
}

.modal-signin-bottom__email {
  text-align: center;
  margin: 30px auto 10px auto;
  color:$color1;
  width: 200px;
}

.modal-signin-bottom__email:hover {
  cursor: pointer;
  text-decoration: underline;
}

.modal-inputContainer {
  padding:10px 0px;
}

.modal-input {
  display: flex;
  flex-direction: column;
  margin:20px 0px;
}

.modal-input:first-child {
  margin-top:0;
}

.modal-input:last-child {
  margin-bottom:0;
}

.modal-input__field {
  width: 100%;
  border: 0;
  background: none;
  font-size: 18px;
  padding: 10px 0;
  border-bottom:2px solid rgba(0,0,0,0.1);
}

.modal-input__field:focus {
  outline:none;
  border-bottom:2px solid $color1;
}

.socialLogin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  border: none;
  padding: 16px;
  margin-top: 10px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.socialLogin:hover {
  cursor: pointer;
  box-shadow: 0px 1px 12px rgba(0,0,0,0.3);
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.socialLogin__twitter {
  background:#1da1f2;
}

.socialLogin__facebook {
  background:#3B5998;
}

.socialLogin__google {
  background:white;
}

.socialLogin__google .socialLogin-text__header {
  color:rgba(0,0,0,0.7)
}

.socialLogin__logo {
  width: 36px;
  height: 36px;
  margin-right:24px;
}

.socialLogin-text__header {
  color: white;
  font-size: 18px;
  line-height: 1;
}

.socialLogin-text__caption {
  font-size:12px;
  color:rgba(255,255,255,0.7);
}



@media (max-width:1250px) {
  .nav-logo {
    left: 0;
    position: relative;
    top: 0;
    width: 215px;
    transform: none;
    margin-right: 16px;
  }
}

@media (max-width:1024px) {
  .section-rightColumn {
    display: none;
  }

  .section-leftColumn {
    margin-right:0;
    margin:auto;
    padding:0px 40px;
    box-sizing: border-box;
  }

  .nav__wrapper {
    padding:0px 20px;
  }

  .profile-main-tabs {
    justify-content: center;
  }

  .nav-action__link {
    font-size:14px;
  }
}

@media (max-width:850px) {
  main {
    padding-bottom:36px;
  }

  .nav-logo {
    display: none;
  }

  .post-content-main__italic {
    padding-left:20px;
  }

  .nav-mobile {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    background: $color1;
    box-shadow: 0px -2px 2px rgba(0,0,0,0.1);
  }

  .nav-mobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0.7;
  }

  .nav-mobile-container__icon {
    fill:white;
    width: 24px;
    height: 24px;
  }

  img.nav-mobile-container__icon {
    border-radius: 100%;
  }

  .nav-mobile-container .nav-mobile-text {
    color:white;
  }

  .nav-currentView {
    opacity: 1;
  }

  .nav-currentView .nav-mobile-text {
    display: block;
  }

  .nav-action__container {
    display: none;
  }

  .nav {
    color:rgba(0,0,0,0.7);
    background:white;
  }

  .nav-search__icon {
    fill:rgba(0,0,0,0.4)
  }

  .nav-search__input {
    color:rgba(0,0,0,0.7);
    background:rgba(0,0,0,0.05);
  }

  .nav-search__input::-webkit-input-placeholder {
    color:rgba(0,0,0,0.4);
  }

  .nav-search__input:focus {
    background:rgba(0,0,0,0.1);
  }

  .signedOut .nav-search .nav-action__signin {
    display: block;
  }
}

@media (max-width:450px) {
  .section-leftColumn {
    padding:0 10px;
  }

  .newPost__wrapper {
    margin-top:0;
  }

  .newPost__headerPlaceholder {
    display:none;
  }

  .newPost__header {
    display: none;
  }

  .feed-quickpost-input-icons {
    margin:16px 0px;
  }

  .feed-quickpost-input-post__img {
    display: none;
  }

  .feed-quickpost-input-post__placeholder {
    left:16px;
  }
}
